BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MCCLK_FREQ=2.08 CONFIG_SECURE=ON ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SDA_PULLDOWN" IO_TYPE=LVCMOS33 ;
LOCATE COMP "SCL" SITE "28" ;
LOCATE COMP "SDA" SITE "27" ;
LOCATE COMP "SDA_PULLDOWN" SITE "5" ;
